{%extends "base.html"%}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    
<form method="post" >
    {% csrf_token %}
    <div class="container">
        <h4>Home Address:</h4>
        {{ form.home_address.label }}
        {{ form.home_address }}
        <strong>{{ form.home_address.errors }}</strong>
        <br>
        {{ form.home_address_move_date.label}}
        {{ form.home_address_move_date}}
        <br>
        <button> 
            <span class="glyphicon glyphicon-pencil"></span>
            <input type="submit" class="btn btn-link" name="Edit Address" value="Edit" />
        </button>
    </div>
    <div class="container">
        <h4>Bank & Emergency Contact details:</h4>
        {{ form.bank_account_number.label }}
        {{ form.bank_account_number }}
        <strong>{{ form.bank_account_number.errors }}</strong>
        <br>
        {{ form.bank_sort_code.label }}
        {{ form.bank_sort_code }}
        <strong>{{ form.bank_sort_code.errors }}</strong>
        <br>        
        {{ form.emergency_contact_name.label }}
        {{ form.emergency_contact_name }}
        <strong>{{ form.emergency_contact_name.errors }}</strong>
        <br>
        {{ form.emergency_contact_number.label }}
        {{ form.emergency_contact_number }}
        <strong>{{ form.emergency_contact_number.errors }}</strong>
        <br>
        {{ form.emergency_contact_relationship.label }}
        {{ form.emergency_contact_relationship }}
        <strong>{{ form.emergency_contact_relationship.errors }}</strong>
        <br>
        {{ form.emergency_contact_address.label }}
        {{ form.emergency_contact_address }}
        <strong>{{ form.emergency_contact_address.errors }}</strong>
        <br>
        <button>
            <span class="glyphicon glyphicon-pencil"></span>
            <input type="submit" class="btn btn-link" name="Edit bank" value="Edit" />
        </button> 
    </div>
    <div   class="container">
        <h4>Job Information:</h4>
        {{ form.national_insurance_number.label }}
        {{ form.national_insurance_number }}
        <strong>{{ form.national_insurance_number.errors }}</strong>
        <br>
        {{ form.department_name.label }}
        {{ form.department_name }}
        <strong>{{ form.department_name.errors }}</strong>
        <br>
        {{ form.job_title.label }}
        {{ form.job_title }}
        <strong>{{ form.job_title.erros }}</strong>
        <br>
        {{ form.date_of_joining.label }}
        {{ form.date_of_joining }}
        <strong>{{ form.date_of_joining.errors }}</strong>
        <br>
        {{ form.salary_initial.label }}
        {{ form.salary_initial }}
        <strong>{{ form.salary_initial.errors }}</strong>
        <br>
        {{ form.nationality.label }}
        {{ form.nationality }}
        <br>
        <button>
            <span class="glyphicon glyphicon-pencil"></span>
            <input type="submit" class="btn btn-link" name="Edit Job" value="Edit" />
        </button>    
    </div>
    <div   class="container">
        <h4>Nationality Information:</h4>
        {{ form.residence_permit_number.label }}
        {{ form.residence_permit_number }}
        <strong>{{ form.residence_permit_number.errors }}</strong>
        <br>
        {{ form.visa_type.label }}
        {{ form.visa_type }}
        <strong>{{ form.visa_type.errors }}</strong>
        <br>
        {{ form.valid_from_date.label }}
        {{ form.valid_from_date }}
        <strong>{{ form.valid_from_date.erros }}</strong>
        <br>
        {{ form.valid_to_date.label }}
        {{ form.valid_to_date }}
        <strong>{{ form.valid_to_date.errors }}</strong>
        <br>
        <br>
        <button>
            <span class="glyphicon glyphicon-pencil"></span>
            <input type="submit" class="btn btn-link+" name="Edit Nationality" value="Edit" />
        </button>        
    </div>
</form> 
{%endblock content%}