{%extends "base.html"%}
{% load crispy_forms_tags %}
{% load static %}
{% load crispy_forms_filters static %}
{%block content%}

<form method="post" >
    {% csrf_token %}
    {{ formset.management_form }}
        {% if status == 'SAVED' or status == 'REJECTED' %}
            <table class="table table-bordered">
                <tr>
                    <th>Start_date:</th>
                    <th>Status:</th>
                    <th>User id</th>
                    <th> </th>
                </tr>
                
                {% for each_timesheet in timesheet %}
                <tr>
                    <td>{{ each_timesheet.weekdates}}</td>                        
                    <td>{{ each_timesheet.status}}</td>
                    <td>{{ each_timesheet.user_id}}</td> 
                    <td><a class="nav-item nav-link" href="{% url 'update_timesheet' each_timesheet.id %}" >EDIT</a></td>

                
                </tr>
                {% endfor %}
            </table>    
        {% else %}
            <table class="table table-bordered">
                <tr>
                    <th>Start_date:</th>
                    <th>Status:</th>
                    <th>Total hours</th>
                    <th>User id</th>
                </tr>
                
                {% for each_timesheet in timesheet %}
                <tr>
                    <td>{{each_timesheet.weekdates}}</td>
                    <td>{{each_timesheet.status}}</td>
                    <td>{{each_timesheet.total_hours}}</td>
                    <td>{{each_timesheet.user_id}}</td> 
                </tr>
                {% endfor %}
            </table>  
        {% endif %}  
    </form>
{%endblock content%} 
